In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None

# Rate Dataset
This Dataset has plan-level data on individual rates based on an eligible subscriber's age, tobacco use, and geographic location.
Below columns are going to be used for analysis of how the plan are distributed across all states based on the average individual premium. Like on average which state pays more for individual premiums. For further information please refer to link http://www.nber.org/cciio/marketplace-puf/2018/rate2018.pdf
Referring to the link given, 2017 onwards there few columns missing
They are 'IssuerId2', 'RowNumber' and  'VersionNum'.
So we will not take them in our analysis.

In [2]:
# As we dont have all the columns in all files, we are setting required columns for the analysis and filter only those columns 
# from the files.
required_colmuns = ['BusinessYear', 'StateCode', 'IssuerId', 'RateEffectiveDate',
       'RateExpirationDate', 'PlanId', 'RatingAreaId', 'Tobacco', 'Age',
       'IndividualRate', 'IndividualTobaccoRate', 'Couple',
       'PrimarySubscriberAndOneDependent', 'PrimarySubscriberAndTwoDependents',
       'PrimarySubscriberAndThreeOrMoreDependents', 'CoupleAndOneDependent',
       'CoupleAndTwoDependents', 'CoupleAndThreeOrMoreDependents']

In [3]:
Rate_2014 = pd.read_csv('Exchange Data/2014/Rate_PUF.csv',low_memory=False)
Rate_2014 = Rate_2014[required_colmuns]
Rate_2015 = pd.read_csv('Exchange Data/2015/Rate_PUF.csv',low_memory=False)
Rate_2015 = Rate_2015[required_colmuns]
Rate_2016 = pd.read_csv('Exchange Data/2016/Rate_PUF.csv',low_memory=False)
Rate_2016 = Rate_2016[required_colmuns]
Rate_2017 = pd.read_csv('Exchange Data/2017/Rate_PUF.csv',low_memory=False)
Rate_2017 = Rate_2017[required_colmuns]
Rate_2018 = pd.read_csv('Exchange Data/2018/Rate_PUF.csv',low_memory=False)
Rate_2018 = Rate_2018[required_colmuns]
Rate_2019 = pd.read_csv('Exchange Data/2019/Rate_PUF.csv',low_memory=False)
Rate_2019 = Rate_2019[required_colmuns]

In [4]:
rate_all = pd.concat([Rate_2014,Rate_2015,Rate_2016,Rate_2017,Rate_2018,Rate_2019])

In [5]:
rate_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19999814 entries, 0 to 1968925
Data columns (total 18 columns):
BusinessYear                                 int64
StateCode                                    object
IssuerId                                     int64
RateEffectiveDate                            object
RateExpirationDate                           object
PlanId                                       object
RatingAreaId                                 object
Tobacco                                      object
Age                                          object
IndividualRate                               float64
IndividualTobaccoRate                        float64
Couple                                       float64
PrimarySubscriberAndOneDependent             float64
PrimarySubscriberAndTwoDependents            float64
PrimarySubscriberAndThreeOrMoreDependents    float64
CoupleAndOneDependent                        float64
CoupleAndTwoDependents                       float64
CoupleAndThreeOrMoreDependents               float64
dtypes: float64(9), int64(2), object(7)
memory usage: 2.8+ GB

In [6]:
#Change the categorical data in category
rate_all['Age'] = rate_all['Age'].astype('category')
rate_all['Tobacco'] = rate_all['Tobacco'].astype('category')
rate_all['RatingAreaId'] = rate_all['RatingAreaId'].astype('category')
rate_all['StateCode'] = rate_all['StateCode'].astype('category')
rate_all['RateEffectiveDate'] = pd.to_datetime(rate_all['RateEffectiveDate'])
rate_all['RateExpirationDate'] = pd.to_datetime(rate_all['RateExpirationDate'])

In [7]:
rate_all['IndividualRate'].sort_values(ascending=False).value_counts()
#There is some weird data with rates over 9000. As per the ACA rules it cannot be that much of amount.

0.000000         1122377
99.990000         102071
999999.000000      47790
9999.000000        45433
99.000000          36455
25.650000          25566
1.500000           24660
18.490000          19929
21.990000          18093
32.800000          17475
22.490000          17320
28.270000          17045
11.500000          15135
11.280000          14942
29.000000          14732
29.990000          14570
25.680000          14522
25.350000          14337
26.300000          14073
35.000000          13836
26.000000          13332
38.000000          13206
29.130000          13076
27.000000          12380
34.470000          12233
21.590000          12213
17.490000          12101
36.300000          11622
36.010000          11551
20.750000          11526
                  ...
1273.810000            1
1702.720000            1
1274.440000            1
1756.220000            1
1754.780000            1
1416.850000            1
1423.100000            1
1757.470000            1
1272.940000            1
1757.970000            1
1757.780000            1
1757.280000            1
2667.000000            1
1270.060000            1
1754.970000            1
394.796904             1
1697.780000            1
1755.720000            1
2669.000000            1
1759.780000            1
547.246238             1
1759.280000            1
1275.190000            1
1752.720000            1
1759.030000            1
1758.780000            1
1422.100000            1
1758.280000            1
1409.650000            1
1323.630000            1
Name: IndividualRate, Length: 180491, dtype: int64

In [8]:
#Lets delete that data from the dataset. These seems to be outliers in the dataset
print(rate_all[rate_all.IndividualRate>9000].IndividualRate.unique())

[999999.     9999.     9999.99]

In [9]:
rate_all = rate_all[rate_all.IndividualRate <9000]
rate_all.head(3)

,BusinessYear,StateCode,IssuerId,RateEffectiveDate,RateExpirationDate,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents
0,2014,AK,21989,2014-01-01,2014-12-31,21989AK0010001,Rating Area 1,No Preference,0-20,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AK,21989,2014-01-01,2014-12-31,21989AK0020001,Rating Area 1,No Preference,Family Option,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56
2,2014,AK,21989,2014-01-01,2014-12-31,21989AK0020001,Rating Area 2,No Preference,Family Option,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56

In [10]:
rate_all['IndividualTobaccoRate'].notnull().value_counts()
#There many values where ther is null. It should be 0

False    13285471
True      6620040
Name: IndividualTobaccoRate, dtype: int64

In [11]:
rate_all['IndividualTobaccoRate'] = rate_all['IndividualTobaccoRate'].fillna(0)
rate_all['IndividualTobaccoRate'].notnull().value_counts()

True    19905511
Name: IndividualTobaccoRate, dtype: int64

In [12]:
rate_all['Couple'].notnull().value_counts()
#There many values where there is null. It should be 0

False    19858296
True        47215
Name: Couple, dtype: int64

In [13]:
rate_all['Couple'] = rate_all['Couple'].fillna(0)
rate_all['Couple'].notnull().value_counts()

True    19905511
Name: Couple, dtype: int64

In [14]:
rate_all['PrimarySubscriberAndOneDependent'].notnull().value_counts()
#There many values where there is null. It should be 0

False    19858296
True        47215
Name: PrimarySubscriberAndOneDependent, dtype: int64

In [15]:
rate_all['PrimarySubscriberAndOneDependent'] = rate_all['PrimarySubscriberAndOneDependent'].fillna(0)
rate_all['PrimarySubscriberAndOneDependent'].notnull().value_counts()

True    19905511
Name: PrimarySubscriberAndOneDependent, dtype: int64

In [16]:
rate_all['PrimarySubscriberAndTwoDependents'].notnull().value_counts()
#There many values where there is null. It should be 0

False    19858296
True        47215
Name: PrimarySubscriberAndTwoDependents, dtype: int64

In [17]:
rate_all['PrimarySubscriberAndTwoDependents'] = rate_all['PrimarySubscriberAndTwoDependents'].fillna(0)
rate_all['PrimarySubscriberAndTwoDependents'].notnull().value_counts()

True    19905511
Name: PrimarySubscriberAndTwoDependents, dtype: int64

In [18]:
rate_all['PrimarySubscriberAndThreeOrMoreDependents'].notnull().value_counts()
#There many values where there is null. It should be 0

False    19858296
True        47215
Name: PrimarySubscriberAndThreeOrMoreDependents, dtype: int64

In [19]:
rate_all['PrimarySubscriberAndThreeOrMoreDependents'] = rate_all['PrimarySubscriberAndThreeOrMoreDependents'].fillna(0)
rate_all['PrimarySubscriberAndThreeOrMoreDependents'].notnull().value_counts()

True    19905511
Name: PrimarySubscriberAndThreeOrMoreDependents, dtype: int64

In [20]:
rate_all['CoupleAndOneDependent'].notnull().value_counts()
#There many values where there is null. It should be 0

False    19858296
True        47215
Name: CoupleAndOneDependent, dtype: int64

In [21]:
rate_all['CoupleAndOneDependent'] = rate_all['CoupleAndOneDependent'].fillna(0)
rate_all['CoupleAndOneDependent'].notnull().value_counts()

True    19905511
Name: CoupleAndOneDependent, dtype: int64

In [22]:
rate_all['CoupleAndTwoDependents'].notnull().value_counts()
#There many values where there is null. It should be 0

False    19858296
True        47215
Name: CoupleAndTwoDependents, dtype: int64

In [23]:
rate_all['CoupleAndTwoDependents'] = rate_all['CoupleAndTwoDependents'].fillna(0)
rate_all['CoupleAndTwoDependents'].notnull().value_counts()

True    19905511
Name: CoupleAndTwoDependents, dtype: int64

In [24]:
rate_all['CoupleAndThreeOrMoreDependents'].notnull().value_counts()
#There many values where there is null. It should be 0

False    19858296
True        47215
Name: CoupleAndThreeOrMoreDependents, dtype: int64

In [25]:
rate_all['CoupleAndThreeOrMoreDependents'] = rate_all['CoupleAndThreeOrMoreDependents'].fillna(0)
rate_all['CoupleAndThreeOrMoreDependents'].notnull().value_counts()

True    19905511
Name: CoupleAndThreeOrMoreDependents, dtype: int64

In [26]:
#In the last few check we can see that all of them has same number of NUll values(47217)
#We could have dropped the same rows as well. But imputing 0 will be a better idea as per the business rules

In [27]:
rate_all.to_csv('merged_rate.csv')